body {
    background-color:rgb(109, 104, 179);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    padding: 15px 30px;
    margin: 20px;
    font-size: 18px;
}


.header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px black dashed;
}